@import 'variables';
@import 'mixins';
@import '../components/header/header';
@import '../components/footer/footer';
@import '../../node_modules/foundation-sites/assets/foundation';

// font
* {
  font-family: $primary-font-family;
}

h1, h2, h3, h4, h5, h6 {
  font-family: $primary-font-family; 
}

// primary buttons
button {
  @include button-primary;
}

button:focus {
  outline: none;
}

button:hover {
  @include button-primary-hover;
}

// anchor tags
a {
  color: #22c0de;
}

a:hover {
  text-decoration: underline;
}

// content transition
.content-enter {
  opacity: 0.01;
}

.content-enter.content-enter-active {
  opacity: 1;
  transition: opacity 500ms ease-in;
}

.content-leave {
  opacity: 1;
}

.content-leave.content-leave-active {
  opacity: 0.01;
  transition: opacity 300ms ease-out;
}

.content-appear {
  opacity: 0.01;
}

.content-appear.content-appear-active {
  opacity: 1;
  transition: opacity 500ms ease-in;
}
