// color palette
$primary-color: #41C8E1;
$secondary-color: #F6F5F6;
$tertiary-color: #FFFFFF;

// font variables
$primary-font-family: "Raleway", sans-serif;
$primary-font-color: #525252;
$secondary-font-color: #22C0DE;